
.circle {
	margin: 4px 4px;
	padding: 0;
	float: left;
	border: solid 1px #0000a0;
	overflow: auto;
	width: 278px;
}

.circle .flyer {
	text-align: center;
	margin: 4px;
	width: 270px;
}

.circle .flyer img {
	max-width: 270px;
	max-height: 202px;
	text-align: center;
}

.circle .name-detail {
	margin: 4px;
}

.circle .name {
	margin-bottom: 4px;
	font-weight: bold;
}

.circle .detail {
}
