
body {
	background-image: url('../img/bg.jpg');
}

#body {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 800px;
	background-color: #ffffff;
}

#header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	background-image: url('../img/header.jpg');
}

#left {
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
}

#right {
	margin: 0;
	padding: 4px;
	float: left;
	width: 592px;
}

#footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 32px;
	background-color: #d0d0d0;
	color: #505050;
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	clear: both;
}

.left-menu {
	margin: 0;
	padding: 0;
}

.left-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 40px;
	height: 40px;
}

.left-menu li a {
	display: block;
	padding-left: 40px;
	top: 0;
	left: 0;
	width: 160px;
	height: 100%;
	color: white;
	text-decoration: none;
	background: url('../img/left_menu.png') no-repeat;
}

.left-menu li a:visited {
	display: block;
	padding-left: 40px;
	top: 0;
	left: 0;
	width: 160px;
	height: 100%;
	color: white;
	text-decoration: none;
	background: url('../img/left_menu.png') no-repeat;
}

.left-menu li a:active {
	display: block;
	padding-left: 40px;
	top: 0;
	left: 0;
	width: 160px;
	height: 100%;
	color: white;
	text-decoration: none;
	background: url('../img/left_menu.png') no-repeat;
}

.left-menu li a:hover {
	display: block;
	padding-left: 40px;
	top: 0;
	left: 0;
	width: 160px;
	height: 100%;
	color: blue;
	text-decoration: none;
	font-weight: bold;
	background: url('../img/left_menu_hover.png') no-repeat;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 16px;
	font-weight: normal;
	color: #505050;
}

h2 {
	margin: 0;
	padding: 0;
	padding-left: 4px;
	display: block;
	height: 32px;
	font-size: 24px;
	font-weight: bold;
	line-height: 31px;
	color: #0000d0;
	border-bottom: solid 1px #0000ff;
	border-left: solid 4px #0000ff;
}

.content {
	margin: 16px 8px;
	padding: 0;
	line-height: 1.2em;
}

.content img {
	max-width: 568px;
}
